/* added rule set */
#pagewidth {
    width: 500px;
}

/* changed rule set */
#sidenote {
    background-color: #333333; /* Changed bg color */
    color: #f7d2aa; /*  color to same as body bg color */
}

body {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    background-color: #f7d2aa;
}

p {
    color: navy;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Helvetica, Arial, sans-serif;
}

figcaption {
    font-weight: bold;
    background-color: #AAEEFF;
    display: inline;
    color: #032f0d;
}

.sale {
    background-color: #AAEEFF;
    font-style: italic;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: darkgreen;
}

a:hover {
    text-decoration: underline;
    font-weight: bold;
    font-family: 'Palatino Linotype', 'Times New Roman', serif;
}

a:active {
    color: #63f60a;
}

a:visited {
    color: #808080;
}

